{
  "rootUrl": "https://people-pa.googleapis.com/",
  "documentationLink": "",
  "canonicalName": "PeoplePa",
  "protocol": "rest",
  "version_module": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "baseUrl": "https://people-pa.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "description": "People API that merges Contacts, Profile and other social graph data information into a single merged person resource.",
  "version": "v1",
  "kind": "discovery#restDescription",
  "revision": "20231008",
  "ownerDomain": "google.com",
  "schemas": {
    "AutocompleteDebugResponse": {
      "id": "AutocompleteDebugResponse",
      "type": "object",
      "properties": {
        "mixerSnapshots": {
          "type": "array",
          "items": {
            "$ref": "MixerResults"
          }
        },
        "providerData": {
          "type": "array",
          "items": {
            "$ref": "ProviderData"
          }
        }
      }
    },
    "MixerResults": {
      "id": "MixerResults",
      "type": "object",
      "properties": {
        "provider": {
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "ResultWrapper"
          }
        }
      }
    },
    "ResultWrapper": {
      "id": "ResultWrapper",
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "autocompletion": {
          "$ref": "Autocompletion"
        }
      }
    },
    "Autocompletion": {
      "id": "Autocompletion",
      "type": "object",
      "properties": {
        "suggestion": {
          "type": "string"
        },
        "objectType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PLUS_PAGE",
            "GOOGLE_GROUP",
            "CONTACT_GROUP",
            "AUTOCOMPLETE_GROUP",
            "DEPRECATED_COMMUNITY",
            "DEPRECATED_GPLUS_COLLEXION"
          ]
        },
        "person": {
          "$ref": "Person"
        },
        "googleGroup": {
          "$ref": "GoogleGroup"
        },
        "contactGroup": {
          "$ref": "ContactGroup"
        },
        "autocompleteGroup": {
          "$ref": "AutocompleteGroup"
        }
      }
    },
    "Person": {
      "id": "Person",
      "type": "object",
      "properties": {
        "personId": {
          "type": "string"
        },
        "metadata": {
          "$ref": "PersonMetadata"
        },
        "readOnlyProfileInfo": {
          "type": "array",
          "items": {
            "$ref": "ReadOnlyProfileInfo"
          }
        },
        "fingerprint": {
          "type": "string"
        },
        "name": {
          "type": "array",
          "items": {
            "$ref": "Name"
          }
        },
        "photo": {
          "type": "array",
          "items": {
            "$ref": "Photo"
          }
        },
        "email": {
          "type": "array",
          "items": {
            "$ref": "Email"
          }
        },
        "phone": {
          "type": "array",
          "items": {
            "$ref": "Phone"
          }
        },
        "gender": {
          "type": "array",
          "items": {
            "$ref": "Gender"
          }
        },
        "ageRangeRepeated": {
          "type": "array",
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "certifiedBornBefore": {
          "type": "array",
          "items": {
            "$ref": "CertifiedBornBefore"
          }
        },
        "birthday": {
          "type": "array",
          "items": {
            "$ref": "Birthday"
          }
        },
        "about": {
          "type": "array",
          "items": {
            "$ref": "About"
          }
        },
        "address": {
          "type": "array",
          "items": {
            "$ref": "Address"
          }
        },
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "ClientData"
          }
        },
        "communicationEmail": {
          "type": "array",
          "items": {
            "$ref": "CommunicationEmail"
          }
        },
        "contactGroupMembership": {
          "type": "array",
          "items": {
            "$ref": "ContactGroupMembership"
          }
        },
        "customSchemaField": {
          "type": "array",
          "items": {
            "$ref": "CustomSchemaField"
          }
        },
        "externalId": {
          "type": "array",
          "items": {
            "$ref": "ExternalId"
          }
        },
        "fileAs": {
          "type": "array",
          "items": {
            "$ref": "FileAs"
          }
        },
        "im": {
          "type": "array",
          "items": {
            "$ref": "Im"
          }
        },
        "inAppNotificationTarget": {
          "type": "array",
          "items": {
            "$ref": "InAppNotificationTarget"
          }
        },
        "inAppReachability": {
          "type": "array",
          "items": {
            "$ref": "InAppReachability"
          }
        },
        "interest": {
          "type": "array",
          "items": {
            "$ref": "Interest"
          }
        },
        "language": {
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        },
        "location": {
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "managementUpchain": {
          "type": "array",
          "items": {
            "$ref": "ManagementUpchain"
          }
        },
        "mission": {
          "type": "array",
          "items": {
            "$ref": "Mission"
          }
        },
        "nickname": {
          "type": "array",
          "items": {
            "$ref": "Nickname"
          }
        },
        "occupation": {
          "type": "array",
          "items": {
            "$ref": "Occupation"
          }
        },
        "organization": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          }
        },
        "placeDetails": {
          "type": "array",
          "items": {
            "$ref": "PlaceDetails"
          }
        },
        "posixAccount": {
          "type": "array",
          "items": {
            "$ref": "PosixAccount"
          }
        },
        "pronoun": {
          "type": "array",
          "items": {
            "$ref": "Pronoun"
          }
        },
        "relation": {
          "type": "array",
          "items": {
            "$ref": "Relation"
          }
        },
        "rightOfPublicityState": {
          "type": "array",
          "items": {
            "$ref": "RightOfPublicityState"
          }
        },
        "rosterDetails": {
          "type": "array",
          "items": {
            "$ref": "RosterDetails"
          }
        },
        "socialConnection": {
          "type": "array",
          "items": {
            "$ref": "SocialConnection"
          }
        },
        "sortKeys": {
          "$ref": "SortKeys"
        },
        "skills": {
          "type": "array",
          "items": {
            "$ref": "Skills"
          }
        },
        "sshPublicKey": {
          "type": "array",
          "items": {
            "$ref": "SshPublicKey"
          }
        },
        "website": {
          "type": "array",
          "items": {
            "$ref": "Website"
          }
        },
        "personAttribute": {
          "type": "array",
          "items": {
            "$ref": "PersonAttribute"
          }
        },
        "tagline": {
          "type": "array",
          "items": {
            "$ref": "Tagline"
          }
        },
        "braggingRights": {
          "type": "array",
          "items": {
            "$ref": "BraggingRights"
          }
        },
        "calendar": {
          "type": "array",
          "items": {
            "$ref": "Calendar"
          }
        },
        "event": {
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "connectionReminder": {
          "type": "array",
          "items": {
            "$ref": "ConnectionReminder"
          }
        },
        "sipAddress": {
          "type": "array",
          "items": {
            "$ref": "SipAddress"
          }
        },
        "userDefined": {
          "type": "array",
          "items": {
            "$ref": "UserDefined"
          }
        },
        "contactStateInfo": {
          "type": "array",
          "items": {
            "$ref": "ContactStateInfo"
          }
        },
        "contactEditContextInfo": {
          "type": "array",
          "items": {
            "$ref": "ContactEditContextInfo"
          }
        },
        "contactCreateContextInfo": {
          "type": "array",
          "items": {
            "$ref": "ContactCreateContextInfo"
          }
        },
        "contactPromptSettingsInfo": {
          "type": "array",
          "items": {
            "$ref": "ContactPromptSettingsInfo"
          }
        },
        "visibleToGuests": {
          "type": "array",
          "items": {
            "$ref": "VisibleToGuests"
          }
        },
        "linkedPerson": {
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "mapsProfile": {
          "type": "array",
          "items": {
            "$ref": "MapsProfile"
          }
        },
        "searchProfile": {
          "type": "array",
          "items": {
            "$ref": "SearchProfile"
          }
        },
        "limitedProfileSettings": {
          "type": "array",
          "items": {
            "$ref": "LimitedProfileSettingsField"
          }
        },
        "emergencyInfo": {
          "type": "array",
          "items": {
            "$ref": "EmergencyInfo"
          }
        },
        "otherKeyword": {
          "type": "array",
          "items": {
            "$ref": "OtherKeyword"
          }
        },
        "profileUrlRepeated": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "ProfileUrl"
          }
        },
        "circleMembership": {
          "type": "array",
          "items": {
            "$ref": "CircleMembership"
          }
        },
        "namePronunciationAudioMetadataInfo": {
          "type": "array",
          "items": {
            "$ref": "NamePronunciationAudioMetadataInfo"
          }
        },
        "extendedData": {
          "$ref": "PersonExtendedData"
        },
        "relationshipStatus": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "RelationshipStatus"
          }
        },
        "relationshipInterest": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "RelationshipInterest"
          }
        },
        "profileUrl": {
          "deprecated": true,
          "type": "string"
        },
        "coverPhoto": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "CoverPhoto"
          }
        },
        "ageRange": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "LESS_THAN_EIGHTEEN",
            "TWENTY_ONE_OR_OLDER",
            "EIGHTEEN_TO_TWENTY"
          ]
        },
        "membership": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "Membership"
          }
        },
        "peopleInCommon": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "interactionSettings": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "InteractionSettings"
          }
        },
        "plusPageInfo": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "PlusPageInfo"
          }
        },
        "legacyFields": {
          "deprecated": true,
          "$ref": "LegacyFields"
        },
        "teamsExtendedData": {
          "deprecated": true,
          "$ref": "TeamsExtendedData"
        }
      }
    },
    "PersonMetadata": {
      "id": "PersonMetadata",
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PERSON_MODEL_UNKNOWN",
            "PROFILE_CENTRIC",
            "CONTACT_CENTRIC"
          ]
        },
        "deleted": {
          "type": "boolean"
        },
        "contactId": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "affinity": {
          "type": "array",
          "items": {
            "$ref": "Affinity"
          }
        },
        "scoringInfo": {
          "$ref": "PersonMetadataScoringInfo"
        },
        "bestDisplayName": {
          "$ref": "BestDisplayName"
        },
        "attribution": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastUpdateTimeMicros": {
          "type": "string",
          "format": "int64"
        },
        "identityInfo": {
          "$ref": "IdentityInfo"
        },
        "deviceContactInfo": {
          "type": "array",
          "items": {
            "$ref": "DeviceContactInfo"
          }
        },
        "customResponseMaskingType": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "NONE",
            "MENAGERIE"
          ]
        },
        "circleId": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contactGroupId": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "previousPersonId": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deprecatedMembershipCircleId": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "deprecatedMembershipContactGroupId": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "deprecatedBlocked": {
          "deprecated": true,
          "type": "boolean"
        },
        "userVisibleStats": {
          "deprecated": true,
          "$ref": "UserVisibleStats"
        },
        "ownerId": {
          "deprecated": true,
          "type": "string"
        },
        "ownerUserType": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "OWNER_USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GPLUS_DISABLED_BY_ADMIN",
              "GOOGLE_APPS_USER",
              "GOOGLE_APPS_SELF_MANAGED_USER",
              "GOOGLE_FAMILY_USER",
              "GOOGLE_FAMILY_CHILD_USER",
              "GOOGLE_APPS_ADMIN_DISABLED",
              "GOOGLE_ONE_USER",
              "GOOGLE_FAMILY_CONVERTED_CHILD_USER"
            ]
          }
        },
        "objectType": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "OBJECT_TYPE_UNKNOWN",
            "PERSON",
            "PAGE"
          ]
        },
        "plusPageType": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLUS_PAGE_TYPE_UNKNOWN",
            "LOCAL",
            "COMPANY",
            "BRAND",
            "CELEBRITY",
            "CAUSE",
            "ENTERTAINMENT",
            "OTHER",
            "OBSOLETE_PRIVATE"
          ]
        },
        "blockType": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "BLOCK_TYPE_UNKNOWN",
              "CIRCLE",
              "LEGACY"
            ]
          }
        },
        "incomingBlockType": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "BLOCK_TYPE_UNKNOWN",
              "CIRCLE",
              "LEGACY"
            ]
          }
        },
        "inViewerDomain": {
          "deprecated": true,
          "type": "boolean"
        },
        "profileOwnerStats": {
          "deprecated": true,
          "$ref": "ProfileOwnerStats"
        }
      }
    },
    "Affinity": {
      "id": "Affinity",
      "type": "object",
      "properties": {
        "affinityType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "AFFINITY_TYPE_UNKNOWN",
            "EMAIL_AUTOCOMPLETE",
            "CONTACTS_PLUS_FREQUENTLY_CONTACTED",
            "CHAT_AUTOCOMPLETE",
            "GPLUS_AUTOCOMPLETE",
            "GLASS_AFFINITY",
            "PEOPLE_AUTOCOMPLETE_SOCIAL",
            "FIELD_AUTOCOMPLETE_SOCIAL",
            "CONTACTS_PLUS_EMAIL",
            "PHOTOS_PEOPLE_TO_SHARE_WITH_SUGGESTIONS",
            "PHOTOS_FIELDS_TO_SHARE_WITH_SUGGESTIONS",
            "INBOX_AFFINITY",
            "DYNAMITE_AFFINITY",
            "PHOTOS_SUGGESTIONS_AFFINITY",
            "PHOTOS_SUGGESTED_TARGETS",
            "PHOTOS_ASSISTANT_SUGGESTIONS_AFFINITY",
            "DRIVE_AUTOCOMPLETE",
            "WALLET_PEOPLE_TO_PAY_SUGGESTIONS",
            "CONTACTS_PLUS_CONTACT_CENTRIC",
            "POMEROY_AFFINITY",
            "CALENDAR_AFFINITY",
            "SPACES_APP_PEOPLE_AFFINITY",
            "HOMEROOM_AFFINITY",
            "PEOPLE_PLAYGROUND_AFFINITY",
            "FAMILY_AFFINITY",
            "CONTACTS_ASSISTANT_SUGGESTED_CONTACTS",
            "TRIPS_AFFINITY",
            "GOOGLE_VOICE_AFFINITY",
            "PHOTOS_FACE_AFFINITY",
            "G3DOC_AUTOCOMPLETE",
            "LOUPE_SUGGESTIONS_AFFINITY",
            "MAPS_SHARING_AFFINITY",
            "CLOUD_SEARCH_AFFINITY",
            "YOUTUBE_UNPLUGGED",
            "JAM_AFFINITY",
            "ITEM_SUGGEST_AFFINITY",
            "ISSUE_TRACKER_AFFINITY",
            "APPS_ASSISTANT_AFFINITY",
            "APDL_CONTACT_CENTRIC_DEFAULT_AFFINITY",
            "APDL_PROFILE_CENTRIC_DEFAULT_AFFINITY",
            "SOCIAL_RECOVERY",
            "TEZ_AFFINITY",
            "NEWS_AFFINITY",
            "ALLO_AFFINITY",
            "GPLUS_PEOPLE_RECOMMENDATIONS",
            "GPLUS_PEOPLE_RECOMMENDATIONS_SAME_DOMAIN",
            "DRIVE_AFFINITY",
            "PODIUM_AFFINITY",
            "ZOOM_SIGHTS_EMAIL_AFFINITY",
            "AIRDROME_AFFINITY",
            "HANGOUTS_MEET_AFFINITY",
            "GALLERY_AFFINITY",
            "AGSA_AFFINITY",
            "PAY_AFFINITY",
            "SAVES_AFFINITY",
            "JASPER_AFFINITY",
            "GOOGLE_HOME_APP_AFFINITY",
            "TOPAZ_TEAMS_AFFINITY",
            "DYNAMITE_OUT_OF_DOMAIN_AFFINITY",
            "GOOGLE_VOICE_SIRI_EXTENSION_AFFINITY",
            "COURSE_KIT_AFFINITY",
            "FORMS_AFFINITY",
            "NOVITAS_AFFINITY",
            "GTI_PEER_INTERACTIONS_AFFINITY",
            "ANDROID_EMERGENCY_AFFINITY",
            "DATA_STUDIO_AFFINITY",
            "SPUR_AFFINITY",
            "PLAY_GAMES_SERVICES_AFFINITY",
            "GROUPS_ADD_MEMBER_AFFINITY",
            "DUO_AFFINITY",
            "MY_BUSINESS_AFFINITY",
            "GMAIL_COMPOSE",
            "NON_GPLUS_AFFINITY",
            "ABUSE_AFFINITY",
            "ABUSE_AFFINITY_LITE",
            "CALENDAR_PEEK_AFFINITY",
            "HUB_CALL_AFFINITY",
            "GSUITE_WORKFLOW_AFFINITY",
            "VR_POLY_PRO_AFFINITY",
            "TASKS_AFFINITY",
            "GOOGLE_ONE_AFFINITY",
            "TRAVEL_AFFINITY",
            "GEO_DISCOVERY_FOLLOW_AFFINITY",
            "GMAIL_WEB_AFFINITY",
            "ASSISTANT_SETTINGS_WEB_UI_AFFINITY",
            "ARTIFEX_AFFINITY",
            "CONTACT_STORE_DEFAULT_AFFINITY",
            "CONTACT_STORE_SELF_EXCLUSIVE",
            "PHOTOS_FACE_STALE_AFFINITY",
            "LANDSPEEDER_AFFINITY",
            "GOOGLE_FI_AFFINITY",
            "CONTACTS_PLUS_DOMAIN_ONLY",
            "PHOTOS_SUGGESTED_TARGETS_IN_APP_ONLY",
            "SOCIETY_AFFINITY",
            "NANDHI_TEST_SCHEDULER_AFFINITY",
            "HIJACKING_HIGH_RISK_AFFINITY",
            "TRUECOLOURS_AFFINITY",
            "ESPRESSO_AFFINITY",
            "TAG_AFFINITY",
            "CORPBOT_AFFINITY",
            "SHOPPING_LIST_AFFINITY",
            "INTEGRATION_PLATFORM_AFFINITY",
            "HOT_ORDERS_UI_AFFINITY",
            "TELLY_MOBILE_APP_AFFINITY",
            "NGA_SUGGESTION_RESOLUTION_AFFINITY",
            "DUC_COMPANION_AFFINITY",
            "TOG_AFFINITY",
            "ANDROID_SYSTEM_INTELLIGENCE_AFFINITY",
            "EARTH_AFFINITY",
            "SHORTCUT_AFFINITY",
            "CHROME_OS_SCALING_AFFINITY",
            "SHOWTIME_AFFINITY",
            "PLAY_GAMES_SERVICES_EXPERIMENTAL",
            "GUPPEEPS_AFFINITY",
            "NEST_AFFINITY",
            "BLOGGER_AFFINITY",
            "INDIVIDUAL_OUTGOING_INTERACTIONS_RECENCY_RANK",
            "ASSISTANT_TOOLCHAIN_AFFINITY",
            "CHAT_CONSERVER_FAVORITE_CONTACTS_AFFINITY",
            "CHAT_CONSERVER_INVITEE_AFFINITY",
            "GANTRY_AFFINITY",
            "KINTARO_AFFINITY",
            "KEEP_AFFINITY",
            "INCIDENTFLOW_AFFINITY",
            "DRIVE_MENTION_AFFINITY",
            "DRIVE_LOOKUP_AFFINITY",
            "PODCASTS_MANAGER_AFFINITY",
            "EMAIL_AUTOCOMPLETE_GG",
            "ONE_REVIEWER_TOOL_AFFINITY",
            "ASSISTANT_FAMILY_VERTICAL_AFFINITY",
            "STADIA_AFFINITY",
            "ATLAS_AFFINITY",
            "CONSTELLATION_AFFINITY",
            "CORONADO_AFFINITY",
            "WALLET_GOLDEN_GATE_AFFINITY",
            "PUMICE_AFFINITY",
            "DEMO_AFFINITY_DEFAULT_ALGO",
            "DEMO_AFFINITY_DEFAULT_ALGO_DOMAIN_ONLY",
            "DEMO_AFFINITY_EMAIL_ALGO",
            "DEMO_AFFINITY_EMAIL_ALGO_DOMAIN_ONLY",
            "BACKLIGHT_AFFINITY",
            "DYNAMITE_GROUPS_AFFINITY",
            "DYNAMITE_OUT_OF_DOMAIN_GROUPS_AFFINITY",
            "GLOSSARY_MANAGER_AFFINITY",
            "ONEDEV_WORKFLOW_AFFINITY",
            "GSUITE_HUB_CALL_AFFINITY",
            "AVALANCHE_AFFINITY",
            "SANDTROUT_DEVICE_CONTACTS_AFFINITY",
            "DYNAMITE_ROOM_AFFINITY",
            "DESKBOOKING_AFFINITY",
            "TEZ_EXTENDED_AFFINITY",
            "DRIVE_PROFILE_ONLY_AFFINITY",
            "OFFSEC_AFFINITY",
            "GOOGLE_HOME_FAMILY_AFFINITY",
            "ONEMARKET_CALENDAR_AFFINITY",
            "GPAY_MERCHANT_CONSOLE_AFFINITY",
            "WORDFLOW_AFFINITY",
            "YOUTUBE_CREATOR_STUDIO_AFFINITY",
            "BRICKS_AFFINITY",
            "BUG_OBSERVER_AFFINITY",
            "ALPHASCHEDULE_AFFINITY",
            "BURROW_AFFINITY",
            "TEAMSPACES_AFFINITY",
            "GMAIL_SMARTADDRESS_REPLACE_AFFINITY",
            "GMAIL_SMARTADDRESS_EXPAND_AFFINITY",
            "ASSISTANT_OPA_AFFINITY",
            "POLYGLOT_AFFINITY",
            "TRANSLATION_MEMORY_MANAGER_AFFINITY",
            "THREADIT_AFFINITY",
            "RESOURCE_SYMPHONY_AFFINITY",
            "HOUSEHOLD_CONTACTS_PICKER_AFFINITY",
            "L10N_INFRA_SHARED_AFFINITY",
            "WORK_TRACKER_AFFINITY",
            "ARIANE_AFFINITY",
            "DRIVE_ROOM_AFFINITY",
            "MOMA_SEARCH_AFFINITY",
            "COLAB_INTERNAL_AFFINITY",
            "COLAB_EXTERNAL_AFFINITY",
            "TALENT_GROW_AFFINITY",
            "SOCIAL_CONNECTION_CHECKER_AFFINITY",
            "GMS_PEOPLE_AFFINITY",
            "ROCKET_LABS_AFFINITY",
            "DYNAMITE_ROOM_AND_INDIVIDUAL_ONLY_AFFINITY",
            "TEZ_PHONE_SEARCH_AFFINITY",
            "MY_GOOGLE_FAMILIES_AFFINITY",
            "DYNAMITE_UNIFIED_AFFINITY",
            "SHORTCUT_SERVER_AFFINITY",
            "LEGAL_CONTRACTS_AFFINITY",
            "CALENDAR_WEB_AFFINITY",
            "DATA_CATALOG_AFFINITY",
            "BRIEF_API_AFFINITY",
            "HARDWARE_MFG_DATA_VENUS_AFFINITY",
            "BETTERBUG_AFFINITY",
            "DCMS_AFFINITY",
            "PLAY_BOOKS_PUBENG_AFFINITY",
            "YAQS_AFFINITY",
            "RESPONSIBLE_FEATURE_ACCESS_AFFINITY",
            "PROSPER_AFFINITY",
            "PEOPLE_TO_ADD_BIRTHDAY_FOR_AFFINITY",
            "FLOURISH_AFFINITY",
            "CAMPAIGN_MANAGEMENT_TOOL_AFFINITY",
            "RECORDER_AFFINITY",
            "CLASSROOM_SEARCH_AFFINITY",
            "HIRING_AFFINITY",
            "DATACENTER_SOFTWARE_AFFINITY",
            "PHOTOS_INVITE_AFFINITY",
            "PHOTOS_PARTNER_SHARING_AFFINITY",
            "MARKETING_WORKFLOWS_AFFINITY",
            "INTROSPECT_AFFINITY",
            "YOUTUBE_PARENT_TOOLS_AFFINITY",
            "RELIABILITY_INSIGHTS_PST_AFFINITY",
            "GMAIL_ANDROID_AFFINITY",
            "CUSTOMER_CARE_PORTAL_AFFINITY",
            "MOMAHOME_3C_AFFINITY",
            "DIGITAL_CAR_KEY_AFFINITY",
            "PLAY_BOOKS_DISTRIBUTION_AFFINITY",
            "GOOGLE_ASSIGNMENTS_AFFINITY",
            "TEST_FUSION_AFFINITY",
            "PRODUCTION2020_UIE_AFFINITY",
            "SPEAKEASY_AFFINITY",
            "DOCS_TASKS_AFFINITY",
            "DYNAMITE_SEARCH_AFFINITY",
            "GPAY_RELEASE_OPS_AFFINITY",
            "VOICE_PBX_AFFINITY",
            "VOICE_WEB_AFFINITY",
            "SKILLSSTACK_AFFINITY",
            "WHOSTORY_AFFINITY",
            "PHOTOS_PARTNER_SHARING_EMAIL_ONLY",
            "MEMORIZE_AFFINITY",
            "BETTANY_AFFINITY",
            "BASECAMP_AFFINITY",
            "DRIVE_SEARCH_FILTER_AFFINITY",
            "CULTURE_EVENTS_CALENDAR_AFFINITY",
            "DATABRIDGE_CONSOLE_AFFINITY",
            "COMMSTAR_AFFINITY",
            "CDDB_AFFINITY",
            "DATA_STUDIO_SPACES_AFFINITY",
            "SOJI_AFFINITY",
            "PLAY_MOVIES_ANDROID_AFFINITY",
            "DATA_STUDIO_DOMAIN_ONLY_AFFINITY",
            "MONOSPACE_AFFINITY",
            "MY_ACCOUNT_AFFINITY",
            "NUDGEIT_CAMPAIGN_MANAGER_AFFINITY",
            "LEGAL_CONTRACTS_EXTERNAL_AFFINITY",
            "CONTACTS_TO_STAR_AFFINITY",
            "DECS_AFFINITY",
            "GSOX_MOCHI_AFFINITY",
            "MEET_AFFINITY",
            "PMW_TI_AFFINITY",
            "DRIVE_SEARCH_FILTER_PERSON_ONLY",
            "ACCESSIBILITY_TRACKER_AFFINITY",
            "PLX_DATASOURCE_AFFINITY",
            "DUCKIEWEB_AFFINITY",
            "MEET_CALLING_AFFINITY",
            "MATTERSPACE_AFFINITY",
            "TRUSTED_CONTACTS_OOBE_AFFINITY",
            "REFERRALS_AFFINITY",
            "WAYMO_TRIAGE_TOOLING_AFFINITY",
            "DATA_STUDIO_GAIA_ONLY_AFFINITY",
            "TWENTYPERCENT_JOBPOSTINGS_AFFINITY",
            "ENGAGEMENTS_AFFINITY",
            "TRUSTED_CONTACTS_FL_AFFINITY",
            "CALENDAR_WEB_TEAM_MEMBERS_AFFINITY",
            "CLOUDCONNECT_AFFINITY",
            "PERSONAL_AGENT_AFFINITY",
            "MOBILE_HARNESS_AFFINITY",
            "LOOKER_STUDIO_PRO_AFFINITY",
            "SUPPORT_CLASSIFICATION_UI_AFFINITY",
            "NOTEBOOKLM_AFFINITY",
            "PLAYSPACE_LABS_AFFINITY",
            "ZOMBIE_CLOUD_AFFINITY"
          ]
        },
        "value": {
          "type": "number",
          "format": "double"
        },
        "loggingId": {
          "type": "string"
        },
        "containerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNKNOWN_CONTAINER",
            "PROFILE",
            "CONTACT",
            "CIRCLE",
            "PLACE",
            "ACCOUNT",
            "EXTERNAL_ACCOUNT",
            "DOMAIN_PROFILE",
            "DOMAIN_CONTACT",
            "DEVICE_CONTACT",
            "GOOGLE_GROUP",
            "NAMED_CHAT_ROOM",
            "UNNAMED_CHAT_ROOM",
            "AFFINITY",
            "RAW_DEVICE_CONTACT",
            "CONTACT_ANNOTATION",
            "DELEGATED_CONTACT"
          ]
        },
        "containerId": {
          "type": "string"
        },
        "affinityMetadata": {
          "$ref": "AffinityMetadata"
        }
      }
    },
    "AffinityMetadata": {
      "id": "AffinityMetadata",
      "type": "object",
      "properties": {
        "cloudDeviceDataInfo": {
          "$ref": "AffinityMetadataCloudDeviceDataInfo"
        },
        "clientInteractionInfo": {
          "$ref": "AffinityMetadataClientInteractionInfo"
        },
        "cloudScore": {
          "type": "number",
          "format": "double"
        },
        "suggestionConfidence": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_LOW",
            "CONFIDENCE_MEDIUM",
            "CONFIDENCE_HIGH"
          ]
        }
      }
    },
    "AffinityMetadataCloudDeviceDataInfo": {
      "id": "AffinityMetadataCloudDeviceDataInfo",
      "type": "object",
      "properties": {
        "isDeviceDataKnown": {
          "type": "boolean"
        },
        "deviceScore": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "AffinityMetadataClientInteractionInfo": {
      "id": "AffinityMetadataClientInteractionInfo",
      "type": "object",
      "properties": {
        "isDirectClientInteraction": {
          "type": "boolean"
        }
      }
    },
    "PersonMetadataScoringInfo": {
      "id": "PersonMetadataScoringInfo",
      "type": "object",
      "properties": {
        "rawMatchQualityScore": {
          "type": "number",
          "format": "double"
        },
        "stExpressionResults": {
          "type": "array",
          "items": {
            "$ref": "PersonMetadataScoringInfoStExpressionResult"
          }
        }
      }
    },
    "PersonMetadataScoringInfoStExpressionResult": {
      "id": "PersonMetadataScoringInfoStExpressionResult",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "BestDisplayName": {
      "id": "BestDisplayName",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "displayNameLastFirst": {
          "type": "string"
        },
        "containerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNKNOWN_CONTAINER",
            "PROFILE",
            "CONTACT",
            "CIRCLE",
            "PLACE",
            "ACCOUNT",
            "EXTERNAL_ACCOUNT",
            "DOMAIN_PROFILE",
            "DOMAIN_CONTACT",
            "DEVICE_CONTACT",
            "GOOGLE_GROUP",
            "NAMED_CHAT_ROOM",
            "UNNAMED_CHAT_ROOM",
            "AFFINITY",
            "RAW_DEVICE_CONTACT",
            "CONTACT_ANNOTATION",
            "DELEGATED_CONTACT"
          ]
        }
      }
    },
    "IdentityInfo": {
      "id": "IdentityInfo",
      "type": "object",
      "properties": {
        "previousPersonId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "originalLookupToken": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceIds": {
          "type": "array",
          "items": {
            "$ref": "SourceIdentity"
          }
        }
      }
    },
    "SourceIdentity": {
      "id": "SourceIdentity",
      "type": "object",
      "properties": {
        "container": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "PROFILE",
            "CONTACT",
            "CIRCLE",
            "PLACE",
            "ACCOUNT",
            "EXTERNAL_ACCOUNT",
            "DOMAIN_PROFILE",
            "DOMAIN_CONTACT",
            "DEVICE_CONTACT",
            "GOOGLE_GROUP",
            "AFFINITY",
            "RAW_DEVICE_CONTACT",
            "CONTACT_ANNOTATION",
            "DELEGATED_CONTACT"
          ]
        },
        "containerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNKNOWN_CONTAINER",
            "PROFILE",
            "CONTACT",
            "CIRCLE",
            "PLACE",
            "ACCOUNT",
            "EXTERNAL_ACCOUNT",
            "DOMAIN_PROFILE",
            "DOMAIN_CONTACT",
            "DEVICE_CONTACT",
            "GOOGLE_GROUP",
            "NAMED_CHAT_ROOM",
            "UNNAMED_CHAT_ROOM",
            "AFFINITY",
            "RAW_DEVICE_CONTACT",
            "CONTACT_ANNOTATION",
            "DELEGATED_CONTACT"
          ]
        },
        "id": {
          "type": "string"
        },
        "deleted": {
          "type": "boolean"
        },
        "lastUpdatedMicros": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "lastUpdated": {
          "type": "string",
          "format": "google-datetime"
        },
        "sourceEtag": {
          "type": "string"
        }
      }
    },
    "DeviceContactInfo": {
      "id": "DeviceContactInfo",
      "type": "object",
      "properties": {
        "id": {
          "$ref": "DeviceContactId"
        },
        "rawContactInfo": {
          "type": "array",
          "items": {
            "$ref": "RawDeviceContactInfo"
          }
        },
        "lookupKey": {
          "type": "string"
        },
        "hasCrossDeviceData": {
          "type": "boolean"
        },
        "deviceContactMetadata": {
          "$ref": "DeviceContactExtraMetadata"
        },
        "lastClientUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DeviceContactId": {
      "id": "DeviceContactId",
      "type": "object",
      "properties": {
        "deviceId": {
          "type": "string"
        },
        "contactId": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RawDeviceContactInfo": {
      "id": "RawDeviceContactInfo",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "rawContactId": {
          "type": "string",
          "format": "int64"
        },
        "accountType": {
          "type": "string"
        },
        "accountName": {
          "type": "string"
        },
        "googleContactId": {
          "type": "string",
          "format": "int64"
        },
        "crossDeviceAllowed": {
          "type": "boolean"
        },
        "deviceContactMetadata": {
          "$ref": "DeviceContactExtraMetadata"
        },
        "photoType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PHOTO_TYPE_UNKNOWN",
            "NO_PHOTO",
            "THUMBNAIL",
            "FULL_SIZE_PHOTO"
          ]
        },
        "appInfo": {
          "$ref": "AppUniqueInfo"
        },
        "appContactData": {
          "type": "array",
          "items": {
            "$ref": "AppContactData"
          }
        },
        "rawDeviceContactAnalyticalInfo": {
          "$ref": "RawDeviceContactAnalyticalInfo"
        }
      }
    },
    "DeviceContactExtraMetadata": {
      "id": "DeviceContactExtraMetadata",
      "type": "object",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              ""
            ],
            "enum": [
              "ATTRIBUTE_UNKNOWN",
              "STARRED"
            ]
          }
        },
        "usageInfo": {
          "type": "array",
          "items": {
            "$ref": "UsageInfo"
          }
        }
      }
    },
    "UsageInfo": {
      "id": "UsageInfo",
      "type": "object",
      "properties": {
        "timesContacted": {
          "type": "string",
          "format": "uint64"
        },
        "lastTimeContacted": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AppUniqueInfo": {
      "id": "AppUniqueInfo",
      "type": "object",
      "properties": {
        "appUniqueId": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "mimetype": {
          "type": "string"
        },
        "displayAppUniqueId": {
          "type": "string"
        },
        "contactInfoSource": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "SOURCE_UNKNOWN",
            "APP_SEARCH"
          ]
        }
      }
    },
    "AppContactData": {
      "id": "AppContactData",
      "type": "object",
      "properties": {
        "mimetype": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_MIMETYPE",
            "WHATSAPP_PROFILE",
            "WHATSAPP_VOIP_CALL",
            "WHATSAPP_VIDEO_CALL",
            "LINE_PROFILE",
            "LINE_VOICE",
            "LINE_VIDEO",
            "HIKE_MESSAGE",
            "HIKE_MESSAGE_ASSISTANT",
            "HIKE_VOICE_CALL",
            "HIKE_VIDEO_CALL",
            "TELEGRAM_ANDROID_PROFILE",
            "THREEMA_PROFILE",
            "VIBER_OUT_CALL_NONE",
            "VIBER_NUMBER_CALL",
            "VIBER_NUMBER_MESSAGE",
            "VIBER_OUT_CALL",
            "VIBER_GOOGLE_VOICE_MESSAGE",
            "WECHAT_VOICEACTION",
            "LINKEDIN_ANDROID_MESSAGING",
            "VK_SENDMSG",
            "TACHYON_PHONE_AUDIO",
            "TACHYON_PHONE"
          ]
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "DataColumn"
          }
        }
      }
    },
    "DataColumn": {
      "id": "DataColumn",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_COLUMN",
            "DATA1",
            "DATA2",
            "DATA3",
            "DATA4",
            "DATA5",
            "DATA6",
            "DATA7",
            "DATA8",
            "DATA9",
            "DATA10",
            "DATA11",
            "DATA12",
            "DATA13",
            "DATA14"
          ]
        },
        "value": {
          "type": "string"
        }
      }
    },
    "RawDeviceContactAnalyticalInfo": {
      "id": "RawDeviceContactAnalyticalInfo",
      "type": "object",
      "properties": {
        "dirty": {
          "type": "boolean"
        },
        "sourceIdExist": {
          "type": "boolean"
        },
        "syncInfo": {
          "$ref": "SyncInfo"
        },
        "dataSet": {
          "type": "string"
        }
      }
    },
    "SyncInfo": {
      "id": "SyncInfo",
      "type": "object",
      "properties": {
        "sourceId": {
          "type": "string"
        },
        "sync1": {
          "type": "string"
        },
        "sync2": {
          "type": "string"
        },
        "sync3": {
          "type": "string"
        },
        "sync4": {
          "type": "string"
        }
      }
    },
    "UserVisibleStats": {
      "id": "UserVisibleStats",
      "deprecated": true,
      "type": "object",
      "properties": {
        "incomingAnyCircleCount": {
          "type": "string",
          "format": "int64"
        },
        "viewCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ProfileOwnerStats": {
      "id": "ProfileOwnerStats",
      "type": "object",
      "properties": {
        "incomingAnyCircleCount": {
          "type": "string",
          "format": "int64"
        },
        "viewCount": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ReadOnlyProfileInfo": {
      "id": "ReadOnlyProfileInfo",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "PersonFieldMetadata"
        },
        "ownerId": {
          "type": "string"
        },
        "ownerUserType": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "OWNER_USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GPLUS_DISABLED_BY_ADMIN",
              "GOOGLE_APPS_USER",
              "GOOGLE_APPS_SELF_MANAGED_USER",
              "GOOGLE_FAMILY_USER",
              "GOOGLE_FAMILY_CHILD_USER",
              "GOOGLE_APPS_ADMIN_DISABLED",
              "GOOGLE_ONE_USER",
              "GOOGLE_FAMILY_CONVERTED_CHILD_USER"
            ]
          }
        },
        "blockType": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "BLOCK_TYPE_UNKNOWN",
              "CIRCLE",
              "LEGACY"
            ]
          }
        },
        "incomingBlockType": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "BLOCK_TYPE_UNKNOWN",
              "CIRCLE",
              "LEGACY"
            ]
          }
        },
        "customerInfo": {
          "$ref": "CustomerInfo"
        },
        "profileOwnerStats": {
          "$ref": "ProfileOwnerStats"
        },
        "accountEmail": {
          "$ref": "AccountEmail"
        },
        "unjoinedEmailCertificates": {
          "type": "array",
          "items": {
            "$ref": "Email"
          }
        },
        "objectType": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "OBJECT_TYPE_UNKNOWN",
            "PERSON",
            "PAGE"
          ]
        },
        "plusPageType": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLUS_PAGE_TYPE_UNKNOWN",
            "LOCAL",
            "COMPANY",
            "BRAND",
            "CELEBRITY",
            "CAUSE",
            "ENTERTAINMENT",
            "OTHER",
            "OBSOLETE_PRIVATE"
          ]
        },
        "inViewerDomain": {
          "deprecated": true,
          "type": "boolean"
        },
        "domainInfo": {
          "deprecated": true,
          "$ref": "ReadOnlyProfileInfoDomainInfo"
        }
      }
    },
    "PersonFieldMetadata": {
      "id": "PersonFieldMetadata",
      "type": "object",
      "properties": {
        "writeable": {
          "type": "boolean"
        },
        "container": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "PROFILE",
            "CONTACT",
            "CIRCLE",
            "PLACE",
            "ACCOUNT",
            "EXTERNAL_ACCOUNT",
            "DOMAIN_PROFILE",
            "DOMAIN_CONTACT",
            "DEVICE_CONTACT",
            "GOOGLE_GROUP",
            "AFFINITY",
            "RAW_DEVICE_CONTACT",
            "CONTACT_ANNOTATION",
            "DELEGATED_CONTACT"
          ]
        },
        "containerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNKNOWN_CONTAINER",
            "PROFILE",
            "CONTACT",
            "CIRCLE",
            "PLACE",
            "ACCOUNT",
            "EXTERNAL_ACCOUNT",
            "DOMAIN_PROFILE",
            "DOMAIN_CONTACT",
            "DEVICE_CONTACT",
            "GOOGLE_GROUP",
            "NAMED_CHAT_ROOM",
            "UNNAMED_CHAT_ROOM",
            "AFFINITY",
            "RAW_DEVICE_CONTACT",
            "CONTACT_ANNOTATION",
            "DELEGATED_CONTACT"
          ]
        },
        "containerId": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "encodedContainerId": {
          "type": "string"
        },
        "primary": {
          "type": "boolean"
        },
        "edgeKey": {
          "type": "boolean"
        },
        "edgeKeyInfo": {
          "type": "array",
          "items": {
            "$ref": "EdgeKeyInfo"
          }
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "VISIBILITY_UNKNOWN",
            "PUBLIC",
            "USER"
          ]
        },
        "verified": {
          "type": "boolean"
        },
        "affinity": {
          "type": "array",
          "items": {
            "$ref": "Affinity"
          }
        },
        "deprecatedContactContainerId": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "fieldAcl": {
          "$ref": "FieldAcl"
        },
        "containerPrimary": {
          "type": "boolean"
        },
        "matchingInfo": {
          "type": "array",
          "items": {
            "$ref": "MatchInfo"
          }
        },
        "additionalContainerInfo": {
          "deprecated": true,
          "$ref": "AdditionalContainerInfo"
        },
        "otherDedupedContainers": {
          "type": "array",
          "items": {
            "$ref": "DedupedContainerInfo"
          }
        },
        "crossDeviceAllowed": {
          "type": "boolean"
        },
        "productMetadata": {
          "type": "array",
          "items": {
            "$ref": "ProductMetadata"
          }
        },
        "contactVisibility": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              ""
            ],
            "enum": [
              "CONTACT_VISIBILITY_UNSPECIFIED",
              "VISIBLE_TO_GUEST"
            ]
          }
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "aclChoices": {
          "type": "array",
          "items": {
            "$ref": "FieldAcl"
          }
        },
        "defaultAclChoice": {
          "$ref": "FieldAcl"
        }
      }
    },
    "EdgeKeyInfo": {
      "id": "EdgeKeyInfo",
      "type": "object",
      "properties": {
        "containerId": {
          "type": "string"
        },
        "containerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNKNOWN_CONTAINER",
            "PROFILE",
            "CONTACT",
            "CIRCLE",
            "PLACE",
            "ACCOUNT",
            "EXTERNAL_ACCOUNT",
            "DOMAIN_PROFILE",
            "DOMAIN_CONTACT",
            "DEVICE_CONTACT",
            "GOOGLE_GROUP",
            "NAMED_CHAT_ROOM",
            "UNNAMED_CHAT_ROOM",
            "AFFINITY",
            "RAW_DEVICE_CONTACT",
            "CONTACT_ANNOTATION",
            "DELEGATED_CONTACT"
          ]
        },
        "materialized": {
          "type": "boolean"
        },
        "extendedData": {
          "$ref": "EdgeKeyInfoExtensionData"
        }
      }
    },
    "EdgeKeyInfoExtensionData": {
      "id": "EdgeKeyInfoExtensionData",
      "type": "object",
      "properties": {
        "gdataCompatibilityExtensionId": {
          "type": "string"
        }
      }
    },
    "FieldAcl": {
      "id": "FieldAcl",
      "type": "object",
      "properties": {
        "aclEntry": {
          "type": "array",
          "items": {
            "$ref": "FieldAclAclEntry"
          }
        },
        "predefinedAclEntry": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "UNKNOWN",
              "OWNER",
              "PUBLIC_READ",
              "DOMAIN_READ",
              "YOUR_CIRCLES_READ",
              "EXTENDED_CIRCLES_READ",
              "PRIVATE_READ"
            ]
          }
        },
        "authorizedViewers": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "AUTHORIZED_VIEWER_UNSPECIFIED",
              "IDENTITY_ACL_ESTABLISHED",
              "SAME_ORGANIZATION",
              "SAME_UNICORN_FAMILY",
              "ALL_USERS"
            ]
          }
        }
      }
    },
    "FieldAclAclEntry": {
      "id": "FieldAclAclEntry",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "READER",
            "WRITER",
            "OWNER"
          ]
        },
        "scope": {
          "$ref": "FieldAclAclEntryScope"
        }
      }
    },
    "FieldAclAclEntryScope": {
      "id": "FieldAclAclEntryScope",
      "type": "object",
      "properties": {
        "allUsers": {
          "type": "boolean"
        },
        "person": {
          "$ref": "FieldAclAclEntryScopePersonAcl"
        },
        "domainUsers": {
          "type": "boolean"
        },
        "membership": {
          "$ref": "FieldAclAclEntryScopeMembershipAcl"
        }
      }
    },
    "FieldAclAclEntryScopePersonAcl": {
      "id": "FieldAclAclEntryScopePersonAcl",
      "type": "object",
      "properties": {
        "personId": {
          "type": "string"
        },
        "displayName": {
          "deprecated": true,
          "type": "string"
        },
        "photoUrl": {
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "FieldAclAclEntryScopeMembershipAcl": {
      "id": "FieldAclAclEntryScopeMembershipAcl",
      "type": "object",
      "properties": {
        "circle": {
          "$ref": "FieldAclAclEntryScopeMembershipAclCircleAcl"
        },
        "contactGroup": {
          "$ref": "FieldAclAclEntryScopeMembershipAclContactGroupAcl"
        }
      }
    },
    "FieldAclAclEntryScopeMembershipAclCircleAcl": {
      "id": "FieldAclAclEntryScopeMembershipAclCircleAcl",
      "type": "object",
      "properties": {
        "circleId": {
          "type": "string"
        },
        "circleSet": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "YOUR_CIRCLES",
            "EXTENDED_CIRCLES"
          ]
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "FieldAclAclEntryScopeMembershipAclContactGroupAcl": {
      "id": "FieldAclAclEntryScopeMembershipAclContactGroupAcl",
      "type": "object",
      "properties": {
        "contactGroupId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "MatchInfo": {
      "id": "MatchInfo",
      "type": "object",
      "properties": {
        "match": {
          "type": "array",
          "items": {
            "$ref": "MatchInfoLookupTokenMatch"
          }
        },
        "query": {
          "type": "string"
        }
      }
    },
    "MatchInfoLookupTokenMatch": {
      "id": "MatchInfoLookupTokenMatch",
      "type": "object",
      "properties": {
        "startIndex": {
          "type": "integer",
          "format": "int32"
        },
        "endIndex": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AdditionalContainerInfo": {
      "id": "AdditionalContainerInfo",
      "type": "object",
      "properties": {
        "rawDeviceContactInfo": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "RawDeviceContactInfo"
          }
        }
      }
    },
    "DedupedContainerInfo": {
      "id": "DedupedContainerInfo",
      "type": "object",
      "properties": {
        "containerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNKNOWN_CONTAINER",
            "PROFILE",
            "CONTACT",
            "CIRCLE",
            "PLACE",
            "ACCOUNT",
            "EXTERNAL_ACCOUNT",
            "DOMAIN_PROFILE",
            "DOMAIN_CONTACT",
            "DEVICE_CONTACT",
            "GOOGLE_GROUP",
            "NAMED_CHAT_ROOM",
            "UNNAMED_CHAT_ROOM",
            "AFFINITY",
            "RAW_DEVICE_CONTACT",
            "CONTACT_ANNOTATION",
            "DELEGATED_CONTACT"
          ]
        },
        "id": {
          "type": "string"
        }
      }
    },
    "ProductMetadata": {
      "id": "ProductMetadata",
      "type": "object",
      "properties": {
        "productSource": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRODUCT_SOURCE_UNKNOWN",
            "PRODUCT_SOURCE_DEFAULT",
            "PRODUCT_SOURCE_ASSISTANT",
            "PRODUCT_SOURCE_JANATA",
            "PRODUCT_SOURCE_SPEED_DIAL"
          ]
        }
      }
    },
    "CustomerInfo": {
      "id": "CustomerInfo",
      "type": "object",
      "properties": {
        "customerId": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "obfuscatedCustomerId": {
          "type": "string"
        },
        "customerName": {
          "type": "string"
        }
      }
    },
    "AccountEmail": {
      "id": "AccountEmail",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        }
      }
    },
    "Email": {
      "id": "Email",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "PersonFieldMetadata"
        },
        "value": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "formattedType": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "contactGroupPreference": {
          "type": "array",
          "items": {
            "$ref": "EmailContactGroupPreference"
          }
        },
        "certificate": {
          "type": "array",
          "items": {
            "$ref": "EmailCertificate"
          }
        },
        "extendedData": {
          "$ref": "EmailExtendedData"
        },
        "classification": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "EMAIL_CLASSIFICATION_UNKNOWN",
            "SIGNUP_EMAIL"
          ]
        },
        "signupEmailMetadata": {
          "$ref": "EmailSignupEmailMetadata"
        }
      }
    },
    "EmailContactGroupPreference": {
      "id": "EmailContactGroupPreference",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "GMAIL"
          ]
        },
        "contactGroupId": {
          "type": "string"
        },
        "isSynthetic": {
          "type": "boolean"
        }
      }
    },
    "EmailCertificate": {
      "id": "EmailCertificate",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "PersonFieldMetadata"
        },
        "status": {
          "$ref": "EmailCertificateCertificateStatus"
        },
        "configurationName": {
          "type": "string"
        }
      }
    },
    "EmailCertificateCertificateStatus": {
      "id": "EmailCertificateCertificateStatus",
      "type": "object",
      "properties": {
        "notAfterSec": {
          "type": "string",
          "format": "int64"
        },
        "statusCode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "CERTIFICATE_VALID",
            "CERTIFICATE_MISSING",
            "CERTIFICATE_EXPIRED",
            "CERTIFICATE_REVOKED"
          ]
        }
      }
    },
    "EmailExtendedData": {
      "id": "EmailExtendedData",
      "type": "object",
      "properties": {
        "smtpServerSupportsTls": {
          "type": "boolean"
        },
        "usesConfusingCharacters": {
          "type": "boolean"
        },
        "internalExternal": {
          "$ref": "InternalExternal"
        },
        "isPlaceholder": {
          "type": "boolean"
        }
      }
    },
    "InternalExternal": {
      "id": "InternalExternal",
      "type": "object",
      "properties": {
        "application": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "UNKNOWN_APPLICATION",
            "GPLUS",
            "GPLUS_WEB",
            "GPLUS_ARES_FEATURE_PROVIDER",
            "GPLUS_PHOTOS",
            "GPLUS_HANGOUT",
            "GPLUS_EVENTS",
            "GPLUS_SQUARES",
            "GPLUS_NOTIFICATIONS",
            "GPLUS_GAMES",
            "GPLUS_WHATS_HOT",
            "GPLUS_LOCAL",
            "GPLUS_PLUS_PAGES",
[...]
